### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
**/.xcodeproj/*
!*.xcodeproj/project.pbxproj
!**.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!**.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!**.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!**.xcworkspace/contents.xcworkspacedata
/*.gcno
**.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

## macOS files
**/.DS_Store
.DS_Store
._.DS_Store
**/._.DS_Store